  :root {
    --accent: #f5d300;
    --darkbg: #041226;
  }

  * { margin:0; padding:0; box-sizing:border-box; font-family:"Montserrat",sans-serif; }

  body, html { height:100%; color:white; overflow-x:hidden; scroll-behavior: smooth;}

  h2 {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
  }


@media (max-width: 768px) {
  h2 {
    font-size: 1.8rem; /* smaller font for mobile */
  }
}
















/* ===== Sticky Header Navigation ===== */
#pageHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--darkbg);
  backdrop-filter: blur(8px);
  z-index: 999;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.4s ease;
}

#pageHeader.visible {
  opacity: 1;
  transform: translateY(0);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  color: white;
}

.nav-logo {
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: var(--accent);
}



.nav-logo a {
   color: var(--accent);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--accent);
}

/* ===== Responsive Menu ===== */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: rgba(0,0,0,0.95);
    width: 200px;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 0;
    border-radius: 0 0 0 10px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}


footer .social-links a {
  font-size: 1rem;
  color: var(--accent);
  transition: color 0.3s ease, transform 0.3s ease;
}

footer .social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}